@import "bootstrap-sprockets";
@import "bootstrap";

/* Main Elements ------------------------------------------------------------ */
body {
  color: #fff;
  background-color: #000;
}

/* Violin ------------------------------------------------------------------- */

.violin, .metronome {
  margin: 45px auto;
  text-align: center;
}

.scale {
  margin: 45px auto;
  width: 70%;
  height: 12px;
  border-top: 2px solid #fff;
}

.selector {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  background-color: transparent;
  width: 2px;
  height: 2px;
}

.heart {
  text-align: center;
  margin: 30px auto;  
  color: #f00;
  font-size: 13em;
}

/* Tempos ------------------------------------------------------------------- */

.tempos {
  width: 25%;
  margin: 0 auto;
  margin-top: 55px;
}

li {
  font-size: 0.9em;
}

.dropdown {
  width: 20%;
  margin: 0 auto;
}

.btn-default, .btn-default:hover, .btn-default:active, .btn-default:link, 
.btn-default:visited, .dropdown-menu, .btn-default:selected {
  background-color: #000;
  color: #fff;
}

.popper {
  animation: pop 0.1s;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0.25);
  }

  100% {
    transform: scale(1);
  }
}
