@import "bootstrap-sprockets";
@import "bootstrap";

/* Main Elements ------------------------------------------------------------ */
body {
  background-color: #000;
}

/* Violin ------------------------------------------------------------------- */

.violin {
  margin: 45px auto;
  text-align: center;
}

.metronome {
  margin: auto;
}

.scale {
  margin: auto;
  width: 70%;
  height: 12px;
  border-top: 2px solid #fff;
}

.selector {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  background-color: transparent;
  width: 2px;
  height: 2px;
}
