@import "bootstrap-sprockets";
@import "bootstrap";

/* Main Elements ------------------------------------------------------------ */
body {
  background-color: #000;
}

/* Violin ------------------------------------------------------------------- */

.violin {
  margin: 45px auto;
  text-align: center;
}
